@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Playfair+Display&family=Raleway:wght@300;400;600&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #343434;
  color: #e09708;
  padding: 50px;
}

h1,
h2,
h3,
h4,
button {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Vidaloka", serif;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 25px;
  }
}
